# build output
dist/
.vercel/
.netlify/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store

# Local
*.local

**/.DS_Store

# Editor directories and files
.idea
